<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__C_CSS__/style.css" />
    <link rel="stylesheet" href="__C_CSS__/widgets.css" />
    <style>
    		.mui-keyboards{
			position: absolute;
			left: 0;
			right: 0;
			top: 45px;
		}
		.mui-keyboards .mui-number-section{
		    display: flex;
		    flex-flow: row wrap;
		    background: #fff;
		}
		.mui-keyboards .mui-number-section .mui-num-btn{
			margin-bottom: 0;
		    flex: 0 0 25%;
		    text-align: center;
		    vertical-align:middle;
		    height: 5rem;
		    line-height: 2rem;
		    border: 1px solid #f5f5f5;
	        font-size: 13px;
		}
		.mui-keyboards .mui-number-section .mui-num-btn.mui-u-1of3{
		    flex: 0 0 33.338%;
		}
		.mui-keyboards .mui-number-section .mui-num-btn.mui-u-1of4{
		    flex: 0 0 33.3%;
		}
		.mui-keyboards .mui-number-section-left{
			display: flex;
		    flex-flow: row wrap;
		    flex: 0 0 75%;
		}
		.mui-keyboards .mui-number-section-right{
		    flex: 0 0 25%;
		    margin-bottom: 0;
		    line-height: 160px;
		    text-align: center;
		    color: #fff;
		    background: #ea2329;
		}
		@media screen and (max-width: 320px){
			.mui-total-money{
			  	height: 8.8rem;
			    line-height: 10rem;

			  }
			  .mui-keyboards .mui-number-section .mui-num-btn{
			  	height: 3.8rem;
			    line-height: 3.8rem;
			  }
			  .mui-keyboards .mui-number-section-right{
			  	height: 121.59px;
			  	line-height: 121.59px;
			  }
			 
			  
			  
		}
    </style>
  </head>

  <body>
    <header class="page-header">
    	  <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">当前工作安排情况</div>
      <i id="all_clander" class="header-right txt-func mui-hidden" >批量设置</i>
    </header>
    <div class="container ondate-time-main" id="container">
			
    </div> 
   
    
    <script src="__C_JS__/zepto.js"></script>
    <script src="__C_JS__/mui.min.js"></script>
    <script src="__C_JS__/template.min.js"></script>
    <script src="__C_JS__/config.js"></script>
    <script src="__C_JS__/app.js"></script>
    <script type="text/html" id="container_list">
		<div class="set-box">
			<p>批量设置</p>
			<div class="time-slots flex-box">
				<% for(var i in timebt) { %>
					<a data-val="<%= i%>"  class="item <%if (timebt[i].s=='3'){%>on<%}%><%if (timebt[i].s=='0'){%>enble<%}%>"
						><%= i%></a>
				<% }%>
			</div>
		</div>
		<div class="time-items mui-clearfix">
			<% for(var i=0; i<list.length; i++) { %>
				<span 
					<%if (list[i].s=='1'){%>
					class="set-btn filled"
					<%}else if(list[i].s=='2'){%>
					class="set-btn disabled"
					<%}else if(list[i].s=='3'){%>
					class="set-btn"
					<%}else{%>
					class="set-btn unable"
					<%}%>
				 data-val="<%= list[i].t%>"><i><%= list[i].t%></i></span>
			<%}%>
		</div>
		<div class="mc-remark-options">
			<p class="on"><i></i><span>可预约</span></p>
			<p class="unable"><i></i><span>可设置</span></p>
			<p class="filled"><i></i><span>已约满</span></p>
		</div>
    	</script>
    <script type="text/html" id="container_list1">
    		<section class="mui-keyboards">
			<div class="mui-number-section">
				<% for(var i=0; i<list.length; i++) { %>
				<p class="mui-num-btn mui-u-1of4 <%if (list[i].s=='1'){%> mui-btn-danger <%}else if(list[i].s=='3'){%> mui-btn-green <%}else if(list[i].s=='2'){%> mui-btn-grey <%}%>" data-val="<%= list[i].t%>"><%= list[i].t%>
					<%if (list[i].s=='1'){%>
						<span style="font-size: 15px;"><br />约滿</span>
					<%}else if(list[i].s=='2'){%>
						<span style="font-size: 15px;"><br />不可设置</span>
					<%}else if(list[i].s=='0'){%>	
						<span style="font-size: 15px;"><br />设置</span>
					<%}else{%>
						<span style="font-size: 15px;"><br />可预约</span>
					<%}%>
					
				</p>
				<%}%>
			</div>
			<div style="text-align: center; margin-top: 20px;display: none;">
				<p>咨询师电话：<%= user[0]%></p> 
			</div>
		</section>
    	</script>
    <script type="text/javascript">
	      var result = window.location.href;
      	  var curdate = $.getUrlParam(result,'curdate');
	      var state = app.getState();
	      
	      document.getElementById("all_clander").addEventListener('tap',function(){
	      	var dayn = new Date(curdate);
  			var days = dayn.getFullYear()+'-'+(dayn.getMonth()+1)+'-'+dayn.getDate();
  			var param = {
		          'method': config.apimethod.setallcalenda,
		          'account': state.token,
		          'day': days,
		          'source':config.source
		      }
		      $.dataRequest(param, function(rs) {
		      	mui.toast('批量预约设置成功')
	        		setTimeout(function(){
		          	var ws = plus.webview.currentWebview();
		          	plus.webview.close(ws,'slide-out-bottom');
	        		},1000);
		      })
	      })
	      
		 
	      //时间分段
	      var times = ['9:00~10:00','10:00~11:00','11:00~12:00','12:00~13:00','13:00~14:00','14:00~15:00','14:00~15:00','15:00~16:00','16:00~17:00','17:00~18:00','18:00~19:00','19:00~20:00','20:00~21:00'];
	      var param = {
	          'method': config.apimethod.calendaondate,
	          'account': state.token,
	          'day': Math.floor(curdate/1000),
	          'source':config.source
	      }
	      
	      $.dataRequest(param, function(rs) {
	      	var widgets = template('container_list', rs);
        		$('.container').append(widgets);
        	mui('.container').on('tap','.set-btn',function(){
	      		if($(this).hasClass('unable')){
	      			var hour = $(this).data('val');
	      			var dayn = new Date(curdate);
	      			var days = dayn.getFullYear()+'-'+(dayn.getMonth()+1)+'-'+dayn.getDate()+' '+hour;

	      			mui.confirm( "确认可预约么?",' ',['确认','取消'], function(e){
						if(e.index==0){
							var param = {
					          'method': config.apimethod.setcalenda,
					          'account': state.token,
					          'hour': days,
					          'source':config.source
					      }
						
						 $.dataRequest(param, function(rs) {
						 	mui.toast('设置成功')
				        		setTimeout(function(){
					          	var ws = plus.webview.currentWebview();
					          	plus.webview.close(ws,'slide-out-bottom');
				        		},1000);
						 })
							
						}
					});
	      		}else{
	      			if(!$(this).hasClass('disabled')&&!$(this).hasClass('filled')&&!$(this).hasClass('unable')){
	      				var hour = $(this).data('val');
		      			var dayn = new Date(curdate);
		      			var days = dayn.getFullYear()+'-'+(dayn.getMonth()+1)+'-'+dayn.getDate()+' '+hour;
	
		      			mui.confirm( "确认取消预约设置么?", " ",['确认','取消'],function(e){
							if(e.index==0){
								var param = {
						          'method': config.apimethod.setcalenda,
						          'account': state.token,
						          'hour': days,
						          'iscancle':1,
						          'source':config.source
						      }
							 $.dataRequest(param, function(rs) {
							 	mui.toast('取消成功')
				        		setTimeout(function(){
					          		mui.back();
				        		},500);
							 })
								
							}
						});
	      				
	      			}
	      		}
	      		
	      	})

    		//批量设置
    		mui('.time-slots').on('tap','a',function(){
	      	var dayn = new Date(curdate);
  			var days = dayn.getFullYear()+'-'+(dayn.getMonth()+1)+'-'+dayn.getDate();
  			var rangetm = $(this).data('val');
  			// if(!$(this).hasClass('unable')){
            if($(this).hasClass('enble')){//设置可预约
  				var param = {
			          'method': config.apimethod.setallcalenda,
			          'account': state.token,
			          'day': days,
			          'range':rangetm,
			          'source':config.source
			      }
			      $.dataRequest(param, function(rs) {
			      	mui.toast('批量预约设置成功');
	        		setTimeout(function(){
	        			mui.back();
	        		},500);
			      })

  			}else{
                if($(this).hasClass('on')){//取消

                    var param = {
                      'method': config.apimethod.cancleallcalenda,
                      'account': state.token,
                      'day': days,
                      'range':rangetm,
                      'source':config.source
                  }
                  $.dataRequest(param, function(rs) {
                    mui.toast('批量取消设置成功')
                    setTimeout(function(){
                        mui.back();
                    },500);
                  })
//                      console.log('暂不能取消')
                }
            }
  			// else{

  			// 	if($(this).hasClass('on')){
  					
  			// 		console.log('暂不能取消')
  			// 	}
  			// }
  			
	      })
        		

	      	
	    })
    </script>
  </body>

</html>
