<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__M_CSS__/style.css">
        <link href="__M_CSS__/pay.css" rel="stylesheet" />
    <style type="text/css">
        
    </style>
  </head>

  <body class="section-white">
    <header class="page-header">
      <div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center">
                <i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
                <h1 class="mui-center mui-title">订单支付</h1>
                <a class="mui-right  mui-btn  mui-btn-link mui-btn-nav mui-pull-right service">
                    <img src="__M_IMG__/tel.png">
                    <i class="search-hide icon-func bbc-icon callmm">客服</i>
                </a>
      </div>
    </header>
    <section class="container section-gray">
            <!--<div class="pay-options">
                <div class="clearfix">
                    <p class="mui-pull-left">应付金额:</p>
                    <p class="mui-pull-right red-txt">￥500.00</p>
                </div>
                <div class="" style="margin-top: 3rem;">
                    <p>请选择支付方式:</p>
                    <div class="pay-type-item clearfix">
                        <p class="mui-pull-left title bbc-icon-weixin">
                            <span class="txt">微信</span>
                        </p>
                        <div class="mui-pull-right">
                            <div class="mui-input-row mui-radio mui-left">
                                <label>&nbsp;</label>
                                <input name="radio1" type="radio">
                            </div>
                        </div>
                    </div>
                    <div class="pay-type-item clearfix">
                        <p class="mui-pull-left title bbc-icon-zhifubao">
                            <span class="txt">支付宝</span>
                        </p>
                        <div class="mui-pull-right">
                            <div class="mui-input-row mui-radio mui-left ">
                                <label>&nbsp;</label>
                                <input name="radio1" type="radio">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-options section-white">
                <button class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">确定支付</button>
            </div>-->
    </section>
  </body>
  <script src="__M_JS__/zepto.js"></script>
  <script src="__M_JS__/mui.min.js"></script>
  <script src="__M_JS__/template.min.js"></script>
  <script src="__M_JS__/config.js"></script>
  <script src="__M_JS__/app.js"></script>
    
  <script type="text/html" id="payment">
    <form class="form-container no-header-padded">
      <section class="section-white section-container">
        <div class="section-init">应付金额</div>
        <div class="section-init pay-num" data-value="<%= price %>">
          <%= price %>
        </div>
      </section>
      
      
      <section class="section-white pay-style">
        <div class="section-title order-goods-header">
          <div class="title-txt">请选择支付方式</div>
        </div>

        <div class="mui-input-group">
          <div class="mui-input-row mui-radio bbc-radio ">
            <label><i class="bbc-icon bbc-icon-zhifubao pay-style-zhifubao"></i> 支付宝</label>
            <input name="payment" type="radio" value="alipayApp" >
          </div>
          <div class="mui-input-row mui-radio bbc-radio ">
            <label><i class="bbc-icon bbc-icon-weixin pay-style-weixin"></i> 微信</label>
            <input name="payment" type="radio" value="wxpayApp">
          </div>

        </div>
      </section>
      <section class="mui-content-padded form-op-section">
        <button type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning action-pay" onclick="return false;">确认支付</button>
      </section>
    </form>
  </script>
  <script type="text/html" id="coupon_list">
    <% for(var i=0; i<list.length; i++) { %>
     <div class="mui-input-row mui-radio bbc-radio ">
        <label><%= list[i].title%></label>
        <input class="coupon-radio" name="coupon" type="radio" value="<%= list[i].id%>" price="<%= list[i].price%>">
      </div>
     <% } %>
  </script>

  <script>
    var state = app.getState();
      var result = window.location.href;
      var tid = $.getUrlParam(result,'tid');
      var price = $.getUrlParam(result,'price');
      var paytype = $.getUrlParam(result,'paytype')||'';
      var pay_id;      
      var couponid = 0;
      
      
      //优惠券
      // var state = app.getState();
      // var param = {
      //     'method': config.apimethod.couponmy,
      //     'account': state.token,
      //     'source':config.source
      // }
      // $.dataRequest(param, function(rs) {
      //   var widgets = template('coupon_list', rs);
      //   $('.coupon-lists').append(widgets);
      // })
      if(tid) {
        fetchPayment(tid);
      }

      function fetchPayment(pid) {
        var rs = {};
          if(price){
            rs.price =  Currency.format(price) 
          }
          var tempEl = template('payment', rs);
          $('.container').html(tempEl);
          var total = price;
          // $(window).on('click', '.coupon-radio', function() {
          //   couponid = $(this).val();
          //   var price = $(this).attr('price');
          //   if(parseFloat(total)-parseFloat(price)<0){
          //     couponid = 0;
          //     mui.toast('不能使用该优惠券');return false;
          //     $('.pay-num').text('￥0.01')
              
          //   }else{
          //     $('.pay-num').text('￥'+(parseFloat(total)-parseFloat(price)).toFixed(2))
          //   }
            
          // })
          $(window).on('tap', '.action-pay', function() {
              if($('input[name="payment"]:checked').length == 0) {
                mui.alert('请选择支付方式');
                return
              }
              pay_id = $('input[name="payment"]:checked').val();
              var SERVER = config.server +  '/Mpay/dopay?accessToken=' + state.token + '&payment_id=' + pid + '&method=' + config.apimethod.tradepay + '&pay_app_id=' + pay_id+'&source='+config.source;
              //更新优惠券
              //发起支付
              var ua = window.navigator.userAgent.toLowerCase();
              if(ua.match(/MicroMessenger/i) != 'micromessenger'){ 
                  // 走不在小程序的逻辑
                  console.log('pay1');
                  //jssdk
                    var param = {
                        'method': config.apimethod.jssdk,
                        'url': document.location.href,
                        'source':config.source
                    }
                    $.dataRequest(param, function(rs) {
                      //点击微信支付后，调取统一下单接口生成微信小程序支付需要的支付参数
                      var params = '?timestamp='+rs.timestamp+'&nonceStr='+rs.nonceStr
                                   +'&signType='+rs.signType
                                   +'&paySign='+rs.signature+'&orderId='+pid+'&pType=0';
                        console.log(params);
                      //定义path 与小程序的支付页面的路径相对应
                      // var path = '/pages/wxpay/wxpay'+params;
                      //通过JSSDK的api使小程序跳转到指定的小程序页面
                      // wx.miniProgram.navigateTo({url: path});
                    })
                  // pay(SERVER, pay_id, pid, total);
              }
              else{
                  wx.miniProgram.getEnv(function(res) {
                      if (res.miniProgram) {
                        //jssdk
                          var param = {
                              'method': config.apimethod.jssdk,
                              'url': document.location.href,
                              'source':config.source
                          }
                          $.dataRequest(param, function(rs) {
                            //点击微信支付后，调取统一下单接口生成微信小程序支付需要的支付参数
                            var params = '?timestamp='+rs.timestamp+'&nonceStr='+rs.nonceStr
                                         +'&signType='+rs.signType
                                         +'&paySign='+rs.signature+'&orderId='+pid+'&pType=0';
                            //定义path 与小程序的支付页面的路径相对应
                            // var path = '/pages/wxpay/wxpay'+params;
                            //通过JSSDK的api使小程序跳转到指定的小程序页面
                            // wx.miniProgram.navigateTo({url: path});
                          })
                      } else {
                        console.log('pay');
                        // pay(SERVER, pay_id, pid, total);
                      }
                  })
              }
              

          });

      };


      // 2. 发起支付请求
      function pay(server, id, pid, total) {
        window.location.href = server;return true;
        // console.log(server);
        var xhr = new XMLHttpRequest();
        var PAYSERVER = server;
        xhr.onreadystatechange = function() {
          switch(xhr.readyState) {
            case 4:
              if(xhr.status == 200) {
                console.log(xhr.responseText);
                // id = id.substring(0,id.length-3);
               //  plus.payment.request(pays[id], xhr.responseText, function(result) {
               //    clicked('_www/view/member/trade.html');
               //  }, function(error) {
               //    plus.nativeUI.alert("支付失败：" + error.code);
               //  });
                // clicked('_www/view/member/trade.html');
              } else {
                alert("获取订单信息失败！");
              }
              break;
            default:
              break;
          }
        }
        xhr.open('GET', PAYSERVER);
        xhr.send();
      }

      
  </script>

</html>
