<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__M_CSS__/style.css">
    <style type="text/css">
        
    </style>
  </head>

  <body>
    
    <header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">订单支付</div>
    </header>
    <section class="container">

    </section>
  </body>
  <script src="__M_JS__/zepto.js"></script>
  <script src="__M_JS__/mui.min.js"></script>
  <script src="__M_JS__/template.min.js"></script>
  <script src="__M_JS__/config.js"></script>
  <script src="__M_JS__/app.js"></script>

  <script type="text/html" id="payment">
    <form class="form-container no-header-padded">
      <section class="section-white section-container">
        <div class="section-init">应付金额</div>
        <div class="section-init pay-num" data-value="<%= price %>">
          <%= price %>
        </div>
      </section>
      <section class="section-white pay-style">
        <div class="section-title order-goods-header">
          <div class="title-txt">请选择支付方式</div>
        </div>

        <div class="mui-input-group">
          <div class="mui-input-row mui-radio bbc-radio ">
            <label><i class="bbc-icon bbc-icon-zhifubao pay-style-zhifubao"></i> 支付宝</label>
            <input name="payment" type="radio" value="alipayApp" >
          </div>
          <div class="mui-input-row mui-radio bbc-radio mui-hidden">
            <label><i class="bbc-icon bbc-icon-weixin pay-style-weixin"></i> 微信</label>
            <input name="payment" type="radio" value="wxpayApp">
          </div>

        </div>
      </section>
      <section class="mui-content-padded form-op-section">
        <button type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning action-pay" onclick="return false;">确认支付</button>
      </section>
    </form>
  </script>


  <script>
      var state = app.getState();
      var result = window.location.href;
      var tid = $.getUrlParam(result,'tid');
      var price = $.getUrlParam(result,'price');
      var pay_id;

      if(tid) {
        fetchPayment(tid);
      }

      function fetchPayment(pid) {
      	var rs = {};
      	  if(price){
      	  	rs.price = Currency.format(price)
      	  }
          var tempEl = template('payment', rs);
          $('.container').html(tempEl);
          var total = price;
          
          $(window).on('tap', '.action-pay', function() {
              if($('input[name="payment"]:checked').length == 0) {
                mui.alert('请选择支付方式');
                return
              }
              pay_id = $('input[name="payment"]:checked').val();
              var SERVER = config.server +  '/Mpay/dopay?accessToken=' + state.token + '&payment_id=' + pid + '&method=' + config.apimethod.tradepay + '&pay_app_id=' + pay_id+'&source='+config.source;

              pay(SERVER, pay_id, pid, total);

          });

      };

     

      // 2. 发起支付请求
      function pay(server, id, pid, total) {
        window.location.href = server;return true;
        console.log(server);
        var xhr = new XMLHttpRequest();
        var PAYSERVER = server;
        xhr.onreadystatechange = function() {
          switch(xhr.readyState) {
            case 4:
              if(xhr.status == 200) {
                console.log(xhr.responseText);
              	// id = id.substring(0,id.length-3);
               //  plus.payment.request(pays[id], xhr.responseText, function(result) {
               //    clicked('_www/view/member/trade.html');
               //  }, function(error) {
               //    plus.nativeUI.alert("支付失败：" + error.code);
               //  });
                // clicked('_www/view/member/trade.html');
              } else {
              	log(xhr);
                alert("获取订单信息失败！");
              }
              break;
            default:
              break;
          }
        }
        xhr.open('GET', PAYSERVER);
        xhr.send();
      }

      
  </script>

</html>
