<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__M_CSS__/style.css" />
    <style type="text/css">
      .single-img img{
        width: 100%;
      }
    </style>
  </head>
  <body>
    <header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">文章详情</div>

    </header>
    <section class="container section-white">
    </section>
  </body>
  <script src="__M_JS__/zepto.js"></script>
  <script src="__M_JS__/mui.min.js"></script>
  <script src="__M_JS__/template.min.js"></script>
  <script src="__M_JS__/config.js"></script>
  <script src="__M_JS__/app.js"></script>
  <script type="text/html" id="content-info">
    <section class="content-padded border-bottom">
      <h1 class="content-center content-padded"><%= title %></h1>
      <section class="content-center fonts font-gray-40"><%= $timestamp_To_Time(create_time) %></section>
      <div class="fontS font-gray-20 single-img">

      </div>
    </section>
  </script>
  <script>
      var result = window.location.href;
      var article_id = $.getUrlParam(result,'article_id');
      var param = {
          'method': config.apimethod.contentinfo,
          'source':config.source,
          'id': article_id
      }
      $.dataRequest(param, function(rs) {
        var tempEl = template('content-info', rs);
        $('.container').html(tempEl);
        $('.single-img').html(rs.content); 
      });
  </script>
</html>
