<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__M_CSS__/style.css">
    <link rel="stylesheet" href="__M_CSS__/counsellor.css" />
    <link rel="stylesheet" href="__M_CSS__/widgets.css">
    <style>
    
      .page-header{
				height:  44px;
			}
			.main {
				margin-right: 10px;
				position: relative;
			}
			.mui-bar .mui-title {
				width: auto;
				left: 40px;
				right: 52px;
				top: 7px;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
			}

        .mui-table-view .mui-media-object{
        max-width: 72px; 
          height: 72px;
        }
        .mui-media-text {
          color: #646464;
          font-size: 15px;
        }
        .mui-media-author {
          font-size: 13px;
          margin-top: 5px;
        } 
        #pullrefresh{
          margin-top: 45px
        }
        .header-search{
        color: #666;
      }
      header.home-header .mui-input-clear ~ .mui-icon-clear{
        top: -.5rem;
      }
    </style>
  </head>

  <body>

	 <header class="home-header">
			<div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center">
   		 	<i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
			<div class="mui-center mui-title">
				<form onsubmit="return false;">
				<div class="mui-input-row header-search-form">
					<input type="search"  class="header-search mui-input-clear" placeholder="寻找感兴趣的文章">
				</div>
				<a href="#" class="right-icon-search"><i class="iconfont icon-search icon-home-search"></i></a>
			</form>
			</div>
		    	<a class="mui-right  mui-btn  mui-btn-link mui-btn-nav mui-pull-right service">
		    		<img src="__M_IMG__/tel.png">
		    		<i class="search-hide icon-func bbc-icon callmm">客服</i>
		    	</a>
			</div>
    </header>
      
    
    <div class="mui-content container">
        <div id="pullrefresh" class="mui-scroll-wrapper">
          <div class="mui-scroll">
            <ul class="mui-table-view artical-list">
              
            </ul>
          </div>
        </div>
    </div>
    <script src="__M_JS__/zepto.js"></script>
    <script src="__M_JS__/mui.min.js"></script>
    <script src="__M_JS__/template.min.js"></script>
    <script src="__M_JS__/config.js"></script>
    <script src="__M_JS__/app.js"></script>
    <script type="text/html" id="artical_list">
         <section>  
            <!--文章 start-->
          <section class="widgets-category-nav section-white">
            <div class="mui-table-view">
              <ul class="mui-table-view mui-table-view-chevron">
                <% for(var i=0; i<list.length; i++) { %>
          <li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/artical/detail.html" data-webparam = '<%= list[i].id %>'>
            <a class="mui-navigate-right">
              <img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].cover) %>">
              <div class="mui-media-body">
                <%= list[i].title %>
                <p class='mui-ellipsis mui-media-text'><%= list[i].description %></p>
                <p class="mui-ellipsis mui-media-text mui-media-author">作者：<%= list[i].author %></p>
              </div>
            </a>
          </li>
           <% } %>
          </ul>   
            </div>
          </section>
    </script>
    <script>
        var result = window.location.href;
        var keyword = $.getUrlParam(result,'keyword');
        var cat_id = $.getUrlParam(result,'cat_id');
        if(keyword) {
          console.log(keyword);
          $('input[type="search"]').val(keyword);
        }

        var state = app.getState();
        getclist();
        function getclist(){
          var param = {
                  'method': config.apimethod.articallist,
                  'source':config.source,
                  'search_keywords': keyword
             }
              $.dataRequest(param, function(rs) {
                  var widgets = template('artical_list', rs);
                  $('.artical-list').append(widgets);
                     // 
                   mui('.mui-scroll-wrapper').scroll({
                  indicators: false
                });
              })
        }
        
        $(window).on('tap', '.action-clickview', function() {
            var webview = $(this).data('webview');
            var webparam = $(this).data('webparam');
            if (webparam) {
              window.location.href = webview+'?article_id='+webparam;
             
            }
            
          })

        
        window.addEventListener('getlist', function(event) {
          if(event.detail.search_keywords!=''){
            keyword = event.detail.search_keywords;
          }
          cat_id = event.detail.cat_id;
          $('.goods-list').empty();
          //获取数据
          getclist();
        });


        var hlist = localStorage.getItem('_history');
        var form = $('input[type="search"]').parents('form');
        var sinput = $('input[type="search"]');
        $(form).submit(function() {
          var search_val = $('input[type="search"]').val();
          if(hlist != null) {
            var list = hlist.split(",");
          }
          var flag = true;
          if(search_val != '') {
            if(hlist != null) {
              for(var i = 0; i < list.length; i++) {
                if(list[i] == search_val) {
                  flag = false;
                }
              }
            }
            if(flag == true) {
              if(hlist != null) {
                hlist += (search_val + ',');
                localStorage.setItem('_history', hlist);
              } else {
                localStorage.setItem('_history', search_val + ',');
              }
            }
            keyword = search_val;
            $('.goods-list').empty();
            //获取数据
            getclist();

            sinput.blur();
          }
        });
        

        

    </script>
  </body>

</html>
