<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__M_CSS__/style.css" />
    <link rel="stylesheet" href="__M_CSS__/widgets.css" />
    <link rel="stylesheet" href="__M_CSS__/swiper.min.css" />
    <style>
    		.main{
    			margin-right: 10px;
    		}
    		.mui-table-view .mui-media-object{
		    max-width: 72px; 
    			height: 72px;
    		}
    		.mui-media-text {
    			color: #646464;
    			font-size: 15px;
    		}
    		.mui-media-author {
    			font-size: 13px;
    			margin-top: 5px;
    		} 
        .swiper-container {width: 100%;height: 100%;}
      .swiper-slide {
          text-align: left;
          font-size: 12px;
          background: #fff;
            color: #5D5D5D;
            white-space: nowrap;
            width: 100%!important;
      }
        
      .mui-table-view.mui-grid-view {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
    .swiper-pagination{display: none;}
    .mui-bar .icon-xiaoxi {
        font-size: 30px;
        padding-top: 6px;
        padding-bottom: 7px;
    }
    .business-news-wrap {display: inline-flex;}
        .business-news-content .mui-flex{
      height: 100%;
    }
    #swiper_news{
      height: 20px;
      line-height: 20px;
    }
    .business-news{padding:8px 0;border-top:1px solid #eee;border-bottom:1px solid #eee;position: relative;background: #fff;box-sizing: border-box;}
    /*.business-news-title{width: 50px;height:20px;border-right:1px solid #d9d9d9;background-image: url(../images/faxian_icon2.png);background-repeat: no-repeat; background-size: 30px; background-position:center;}*/
    /*.business-news-title img{width: 100%;}*/
    /*.business-news-title{font-size:16px;font-weight:bold;color:#777;text-align: right;width: 48px;}*/
    .business-news-title{width: 30px;border-right:1px solid #d9d9d9;margin-left: 10px;}
    .business-news-content{height:20px;overflow: hidden;}
    .business-news-icon{width: 34px!important;height:20px;text-align: center;line-height: 20px;font-size: 16px;color:#ff974b;}
    .business-news-box{position: absolute;top: 0;left: 0;width: 100%;}
    .business-news-item{height:20px;line-height: 20px;padding: 0;font-size: 12px;color:#5D5D5D;}
    .business-news-content .mui-table-view-cell:after{height:0;}
    .business-news-list{margin:0 10px;}
    .business-news-more{height:20px;line-height: 20px;font-size:12px;font-weight: bold;color:#989898;border-left: 1px solid #d9d9d9;position: relative;}
    .business-news-more {padding:0 20px 0 5px;color: #ff974b;}
    .business-news-more i{font-size:12px;color:#ff974b;position: absolute;top: 50%; right: 8px; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%);}
    .swiper-slide-class{
          padding: 10px 10px;
        }
        .swiper-slide-class img{
          height="150px"
        }
    </style>
  </head>

  <body>
    <header class="home-header">
      <div class="header-logo"><img src="__M_IMG__/shop_logo.gif"></div>
      <div class="main">
        <form onsubmit="return false;">
          <div class="mui-input-row header-search-form"><input type="search" onfocus="toSearch(this,'/mobile.php/artical/index.html')" class="header-search mui-input-clear" placeholder="寻找感兴趣的文章"></div>
        </form>
      </div>
      <a href="tel:10086"><i class="search-hide icon-func bbc-icon callmm"  style="font-size: 15px;">客服</i></a>
      <a href="#" class="txt-func search-cancel" style="display:none;">取消</a>
    </header>
    <div class="container">
      <div class="mui-scroll-wrapper bbc-pullrefresh-top">
        <div class="mui-scroll">
          <div class="mui-content content-bottom-padded-nav">
          	<!--轮播 start-->
          	<!--<div id="slider" class="mui-slider">
		        <div class="mui-slider-group mui-slider-loop widgets-slider">

		          <div class="mui-slider-item mui-slider-item-duplicate">
		            <a class="action-webview" data-webview="" data-webparam=''>
		              <img src="../img/widgets_slider_01.jpg">
		            </a>
		          </div>

		          <div class="mui-slider-item">
		            <a class="action-webview" data-webview="" data-webparam=''>
		              <img src="../img/widgets_slider_01.jpg">
		            </a>
		          </div>
		         <div class="mui-slider-item">
		            <a class="action-webview" data-webview="" data-webparam=''>
		              <img src="../img/widgets_slider_02.jpg">
		            </a>
		          </div>


		          <div class="mui-slider-item mui-slider-item-duplicate">
		            <a class="action-webview" data-webview="" data-webparam=''>
		              <img src="../img/widgets_slider_01.jpg">
		            </a>
		          </div>
		        </div>
		        <div class="mui-slider-indicator">
		          <div class="mui-indicator mui-active "></div>
		          <div class="mui-indicator "></div>
		        </div>
		      </div>-->
		      <!--轮播 end-->
		      
		      <!--文章 start-->
		      <!--<section class="widgets-category-nav section-white">
		        <div class="section-title">
		          <div class="title-txt">好文推荐</div>
		          <div class="more-link action-webview" data-webview="_www/view/category/category.html"><i class="bbc-icon bbc-icon-forward"></i></div>
		        </div>
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell mui-media">
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left" src="../img/widgets_39.gif">
							<div class="mui-media-body">
								CBD
								<p class='mui-ellipsis mui-media-text'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
								<p class="mui-ellipsis mui-media-text mui-media-author">作者：老王</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class='mui-navigate-right' href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../img/widgets_49.gif">
							<div class="mui-media-body">
								远眺
								<p class='mui-ellipsis mui-media-text'>静静的看这个世界，最后终于疯了</p>
								<p class='mui-ellipsis mui-media-text mui-media-author'>作者：老张</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class='mui-navigate-right' href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../img/widgets_49.gif">
							<div class="mui-media-body">
								远眺
								<p class='mui-ellipsis mui-media-text'>静静的看这个世界，最后终于疯了</p>
								<p class='mui-ellipsis mui-media-text mui-media-author'>作者：老张</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class='mui-navigate-right' href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../img/widgets_49.gif">
							<div class="mui-media-body">
								远眺
								<p class='mui-ellipsis mui-media-text'>静静的看这个世界，最后终于疯了</p>
								<p class='mui-ellipsis mui-media-text mui-media-author'>作者：老张</p>
							</div>
						</a>
					</li>
				  </ul>		
		        </div>
		      </section>-->
		      <!--文章 end-->
		      
          </div>
        </div>
      </div>
    </div>
    <nav class="mui-bar bbc-bar-tab">
      <a class="bbc-tab-item bbc-active">
        <span class="mui-icon bbc-icon bbc-icon-home"></span>
        <span class="mui-tab-label">首页</span>
      </a>
      <a class="bbc-tab-item" href="{:url('Counsellor/index')}">
        <span class="mui-icon bbc-icon bbc-icon-view"></span>
        <span class="mui-tab-label">咨询</span>
      </a>
     <!--  <a class="bbc-tab-item" data-webview="_www/view/msg/index.html">
        <span class="mui-icon bbc-icon bbc-icon-message"></span>
        <span class="mui-tab-label">消息</span>
      </a> -->
      <a class="bbc-tab-item" href="{:url('Member/member')}">
        <span class="mui-icon bbc-icon bbc-icon-user-empty"></span>
        <span class="mui-tab-label">我的</span>
      </a>
    </nav>
    <script src="__M_JS__/zepto.js"></script>
    <script src="__M_JS__/mui.min.js"></script>
    <script src="__M_JS__/template.min.js"></script>
    <script src="__M_JS__/config.js"></script>
    <script src="__M_JS__/app.js"></script>
    <script src="__M_JS__/mipush.js"></script>
    <script src="__M_JS__/swiper.min.js"></script>
    
	 <script type="text/html" id="widget_slider">
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop widgets-slider">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a class="action-clickview" data-webview="<%= pic[pic.length-1].webview %>" data-webparam='<%= pic[pic.length-1].webparam %>'>
              <img src="<%= $add_server(pic[pic.length-1].cover) %>">
            </a>
                </div>
                <% for(var i in pic) { %>
                    <div class="mui-slider-item">
                        <a class="action-clickview" data-webview="<%= pic[i].webview %>" data-webparam='<%= pic[i].webparam %>'>
                          <img src="<%= $add_server(pic[i].cover) %>">
                        </a>
                    </div>
                    <% } %>
                        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                        <div class="mui-slider-item mui-slider-item-duplicate">
                            <a class="action-clickview" data-webview="<%= pic[0].webview %>" data-webparam='<%= pic[0].webparam %>'>
              <img src="<%= $add_server(pic[0].cover) %>">
            </a>
                        </div>
            </div>
            <div class="mui-slider-indicator">
                <% for(var i=0; i<pic.length; i++) { %>
                    <div class="mui-indicator <%= (i==0) ? 'mui-active' : ' ' %> "></div>
                    <% } %>
            </div>
        </div>
    </script>
    <script type="text/html" id="widget_nav">
      <section class="widgets-category-nav section-white">
          <ul class="widgets-icons-nav">
            <li class="action-webview"><i><a href="http://www.baidu.com"><img src="../img/widgets_02_05.png"></a></i><span>高效课程</li>
            <li class="action-webview" data-webview="_www/view/artical/list.html" ><i><a href="{:url('Artical/index')}"><img src="../img/widgets_02_17.png"></a></i><span>心灵图书室</li>
            <% for(var i=0; i<list.length; i++) { %>
              <%if(i<5){%>
                <li class="action-webview" data-webview="_www/view/counsellor/list.html" data-webparam='{"cat_id":<%= list[i].id %>}'><i><a href="{:url('Counsellor/index')}?cat_id=<%= list[i].id %>"><img src="<%= $add_server(list[i].cover) %>"></a></i><span><%= list[i].title %></li>
              <%}%> 
          <% } %>
          <li class="action-webview" data-webview="_www/view/category/category.html" ><i><a href="{:url('Category/category')}"><img src="../img/widgets_02_11.png"></a></i><span>更多分类</li>
          </ul>
      </section>
  </script> 
    <script type="text/html" id="widget_msg">
      <div class="business-news index-content-item ">
        <div class="business-news-wrap mui-flex ">
          <div class="business-news-title" id="businessQurey1"><i class="mui-icon mui-icon-chat"></i></div>
          <div class="business-news-content cell">
            <div class="mui-flex">
              <div class="cell business-news-list">
                <div class="swiper-container" id="swiper_news">
                  <div class="swiper-wrapper">
                    <% for(var i=0; i<list.length; i++) { %>
                      <div class="swiper-slide "><%= list[i].display %></div>
                     <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
      <script type="text/html" id="class_list">
        <% if(pic){%>
        <section class="widgets-category-nav section-white">
          <div class="section-title">
            <div class="title-txt">课程</div>
            <a href="{:url('Category/category')}"><div class="more-link action-webview"  data-webview="_www/view/category/category.html">更多</div></a>
          </div>
          <div class="mui-table-view">
              <div class="swiper-container1">
          <div class="swiper-wrapper">
            <% for(var m=0; m<pic.length; m++) { %>
            <div class="swiper-slide swiper-slide-class ">
                <a href="<%= pic[m].link%>" class="action-webview"  data-webview="_www/view/artical/ad.html" data-webparam='{"link":"<%= pic[m].link%>"}'><img src="<%= $add_server(pic[m]['cover'])%>" style="height: 150px;"/></a>
            </div>
            <%}%>
          </div>
        </div>
          </div>
        </section>
        <%}%>
      </script>
      <script type="text/html" id="active_list">
        <% if(pic){%>
        <section class="widgets-category-nav section-white">
          <div class="section-title">
            <div class="title-txt">活动</div>
            <a href="{:url('Category/category')}"><div class="more-link action-webview" data-webview="_www/view/category/category.html">更多</div></a>
          </div>
          <div class="mui-table-view">
              <div class="swiper-container2">
          <div class="swiper-wrapper">
            <% for(var m=0; m<pic.length; m++) { %>
            <div class="swiper-slide swiper-slide-class">
                <a href="<%= pic[m].link%>" class="action-webview"  data-webview="_www/view/artical/ad.html" data-webparam='{"linkadr":<%= pic[m].link %>}'><img src="<%= $add_server(pic[m]['cover'])%>" style="height: 150px;"/></a>
            </div>
            <%}%>
          </div>
        </div>
          </div>
        </section>
        <%}%>
      </script>
    <script type="text/html" id="widget_article">
        <section>  
            <!--文章 start-->
		      <section class="widgets-category-nav section-white">
		        <div class="section-title">
		          <div class="title-txt">好文推荐</div>
		          <a href="{:url('Artical/cate')}"><div class="more-link" ><i class="bbc-icon bbc-icon-forward"></i></div></a>
		        </div>
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron">
		          	<% for(var i=0; i<list.length; i++) { %>

      					<li class="mui-table-view-cell mui-media action-clickview" data-webview="{:url('Artical/detail')}" data-webparam = '<%= list[i].id %>'>
      						<a class="mui-navigate-right">
      							<img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].cover) %>">
      							<div class="mui-media-body">
      								<%= list[i].title %>
      								<p class='mui-ellipsis mui-media-text'><%= list[i].description %></p>
      								<p class="mui-ellipsis mui-media-text mui-media-author">作者：<%= list[i].author %></p>
      							</div>
      						</a>
      					</li>
					 <% } %>
				  </ul>		
		        </div>
		      </section>
		      <!--文章 end-->
        </section>  
    </script>
    
    <script type="text/html" id="widget_recommend">
        <section class="widgets-category-nav section-white">
            <div class="section-title">
              <div class="title-txt">专家推荐</div>
              <div class="more-link action-webview" data-webview="_www/view/category/category.html">更多</div>
            </div>
            <div class="mui-table-view">
              <ul class="mui-table-view mui-table-view-chevron">
                <% for(var i=0; i<list.length; i++) { %>
          <li class="mui-table-view-cell mui-badge-custom mui-media action-webview" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>
            <a class="mui-navigate-right" href="{:url('Counsellor/detail')}?counsellor_id=<%= list[i].memberid %>">
              <% if(list[i].online==1 ){%>
                <span class="mui-badge mui-badge-green ">在线</span>
              <%}else{%>
                <span class="mui-badge mui-badge-danger ">下线</span>
              <%}%> 
              
              <img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].avar) %>">
              <div class="mui-media-body">
                <p>
                  <span class="mui-text-left"><%= list[i].nickname %></span>
                  <span class="mui-text-right mui-media-action float-right mui-hidden">立即预约</span>
                </p>
                <p class='mui-ellipsis mui-media-text'><%= list[i].employment %>|<%= list[i].sign %></p>
                <p class="mui-ellipsis mui-media-text mui-media-author">我在大观心理温暖过<%= list[i].trade %>人次</p>
                <p class="mui-detail">详情</p>
              </div>
            </a>
          </li>
          <% } %>
          </ul>   
            </div>
          </section>
    </script>
    <script type="text/javascript">
    
      var i = localStorage.getItem("updatelv")?1:0;
      if(!localStorage.getItem('updatelv')||!i){
        i++;
        var btnArray = ['以后再说', '现在去升级'];
        mui.confirm('是否成为心窝会员？', '', btnArray, function(e) {
          if (e.index == 1) {
            window.location.href = "{:url('Member/updatelv')}"
          } else {
            localStorage.setItem("updatelv",'1')
          }
        })
        
      
      }

	  //获取数据 
  	//lunbo
  	var param = {
          'method': config.apimethod.lunbo,
          'ismobile': 1,
          'source':config.source
    }
    $.dataRequest(param, function(rs) {
  		var widgets = template('widget_slider', rs);
      $('.mui-content').append(widgets);
      var gallery = mui("#slider");
      gallery.slider({
        interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
      });

      //nav
      var aparam = {
          'method': config.apimethod.category,
          'source':config.source
      }
      $.dataRequest(aparam, function(rs) {
        var widgets = template('widget_nav', rs);
        $('.mui-content').append(widgets);
              
        //article
        var aparam = {
            'method': config.apimethod.msg,
            'source':config.source
        }
        $.dataRequest(aparam, function(rs) {
          var widgets = template('widget_msg', rs);
            $('.mui-content').append(widgets);
              var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            loop: true,
            direction: 'vertical',
            speed:3500,
            autoplay:true
        });
            //课程
            var aparam = {
                  'method': config.apimethod.classList,
                  'source':config.source,
                  'ismobile':1
              }
              $.dataRequest(aparam, function(rs) {
                  var widgets = template('class_list', rs);
                  $('.mui-content').append(widgets);
                    var mySwiper = new Swiper('.swiper-container1', {
                    slidesPerView: 1.5,
                    spaceBetween: 30,
                      speed:500,
                  })
                    //课程
                var aparam = {
                    'method': config.apimethod.activeList,
                    'source':config.source,
                    'ismobile':1
                }
                $.dataRequest(aparam, function(rs) {
                    console.log(rs);
                    var widgets = template('active_list', rs);
                    $('.mui-content').append(widgets);
                      var mySwiper = new Swiper('.swiper-container2', {
                        slidesPerView: 1.5,
                        spaceBetween: 30,
                        speed:500,
                      })

                    //article
                    var aparam = {
                        'method': config.apimethod.article,
                        'ismobile': 1,
                        'source':config.source
                    }
                    $.dataRequest(aparam, function(rs) {
                    		var widgets = template('widget_article', rs);
                        $('.mui-content').append(widgets);
                        	 //
                         mui('.mui-scroll-wrapper').scroll({
              	          indicators: false
              	        });
                        $(window).on('tap', '.action-clickview', function() {
                          var webview = $(this).data('webview');
                          var webparam = $(this).data('webparam');
                          if(webview.indexOf("artical") != -1) {
                            window.location.href = webview+'?article_id='+webparam;
                          } 
                          if (webview.indexOf("counsellor") != -1)  {
                            window.location.href = webview+'?counsellor_id='+webparam;
                          }
                          
                        })

                        //recommond
                        var aparam = {
                            'method': config.apimethod.recommend,
                            'source':config.source
                        }
                        if(app.getState()){
                            var aparam = {
                              'method': config.apimethod.recommend,
                              'account':app.getState().token,
                              'source':config.source
                          }
                        }
                        $.dataRequest(aparam, function(rt) {
                            for (var i in rt['list']) {
                              if(rt['list'][i].avar==''){
                                rt['list'][i].avar = 'static/admin/img/none.png';
                              }
                            }
                            var widgets = template('widget_recommend', rt);
                            $('.mui-content').append(widgets);
                               // 
                            mui('.mui-scroll-wrapper').scroll({
                              indicators: false
                            });
                       })
                    })
                  })
                })
              })
        })
        
      })
    </script>
  </body>

</html>
